In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB
from keras.preprocessing.sequence import pad_sequences
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

Using Theano backend.

In [3]:
column_names=['Reviews','Labels'] 
df= pd.read_csv('Dataset_.csv', names=column_names, header=None)

In [4]:
df.head()

                                         Reviews  Labels
0  Not a good reflection of the positive reviews       0
1        Can't get it Right! Overrated property!       0
2                            Not value for money       0
3                              Worst Resort Ever       0
4                 Decent room but poor amenities       0

In [5]:
df.tail()

                                               Reviews  Labels
411  i booked the hotel for one night and was my wo...       1
412                                         Worst Stay       1
413                      Not a very good place to stay       2
414                                            Not bad       3
415                                     Cheap and best       4

In [6]:
df.columns

Index(['Reviews', 'Labels'], dtype='object')

In [7]:
df['Labels'].value_counts()

5    237
4     76
1     35
3     28
2     22
0     18
Name: Labels, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 2 columns):
Reviews    416 non-null object
Labels     416 non-null int64
dtypes: int64(1), object(1)
memory usage: 6.6+ KB

In [14]:
x=df['Reviews']
y=df['Labels']
x.isnull()
df['Labels'] = df['Labels'].apply(np.int64)

In [15]:
from sklearn.model_selection import train_test_split
#TF IDF Vectorizer
#create object of tf-idf vectorizer
vect = TfidfVectorizer()
# Spliting the data into traing and test set
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size= 0.3,random_state=42)

vect.fit(X_train)
x_train = vect.transform(X_train) 
x_test = vect.transform(X_test)

Multinomial Naive bayes

In [16]:
Nb = MultinomialNB()
Nb.fit(x_train, y_train)
y_pred = Nb.predict(x_test)

In [17]:
print('Multinomial Naive Bayes performance\n')
print('Accuracy Score: ',metrics.accuracy_score(y_test,y_pred)*100,'%')

Multinomial Naive Bayes performance

Accuracy Score:  54.400000000000006 %

KNN

In [18]:
from sklearn.neighbors import KNeighborsClassifier

In [19]:
List_of_acc=[]
for k in range(1,20):
    knn=KNeighborsClassifier(n_neighbors=k)
    knn.fit(x_train,y_train)
    y_pred=knn.predict(x_test)
    List_of_acc.append(metrics.accuracy_score(y_test,y_pred))

In [20]:
print(List_of_acc)

[0.784, 0.704, 0.664, 0.656, 0.648, 0.64, 0.592, 0.584, 0.568, 0.568, 0.592, 0.584, 0.536, 0.536, 0.536, 0.544, 0.544, 0.536, 0.536]

Support Vector Machine

In [21]:
SVM = LinearSVC()
SVM.fit(x_train, y_train)
y_pred = SVM.predict(x_test)

In [22]:
print('Support Vector Machine Performance\n')
print('Accuracy Score: ',metrics.accuracy_score(y_test,y_pred)*100,'%')

Support Vector Machine Performance

Accuracy Score:  78.4 %